html, body {
    background-color: $app-gray;
    margin:0;
    padding:0;
}

.element-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)
}

.app-title {
    font-variant-caps: small-caps;
}