$app-dark: #464E47;
$app-light: #CCFCCB;
$app-lighter: #F1FFFA;
$app-gray: #A5ABBD;
$app-primary: #568259;
$app-secondary: #96E6B3;
$app-success: #00CCA6;
$app-warning: #D7A31A;
$app-danger: #A13351;
